@charset "utf-8";
/* CSS Document */
* {	margin: 0; padding: 0;}
html { box-sizing: border-box;}
*, *:before, *:after { box-sizing: inherit;}
body { font-family: Arial; color: #0d0e0e; font-size: 100%;}

/* Title and Links */
h1 { font-size: 3rem; font-weight: 900; }
a {	color: #eb65a0;	text-decoration:none;}
a:hover{text-decoration:none; color: #9CBF5C;}
a:focus{text-decoration:none; background: #9CBF5C; color: #fff !important;}
a:active{text-decoration:none; background: #9CBF5C;}
a.active{text-decoration:none; color: #9CBF5C;}

/* Form */
form.inline{ display: inline;}
button{ margin:0; padding:0; border: 0; cursor: pointer; background: none; font-size: 100%; color: #eb65a0;}
button.button{}
button.button:hover { color: #a3e879;}
button.raw{}
input{ font-size: 1rem; padding: 0.4em; border: 2px dotted #000; background: #fff;}
input, label { display: block; margin-bottom: 5px;}

/* Menu */
ul.menu{ list-style-type: none; padding: 0; margin: 0;}
ul.menu li{ list-style-type: none;}
ul.menu li li{ padding-left: 10px;}
ul.menu li a { padding: 6px 0 4px 0; display: block;}

/* Menu Horizontal */
ul.menu-h{ list-style-type: none; padding: 0; margin: 0;}
ul.menu-h li{ list-style-type: none; display: inline;}
ul.menu-h li a { margin-bottom: 10px;}
ul.menu-h li:not(:first-child) { margin-left: 10px;}

/* Layout */
#nav-main{ float: left; width: 25%; padding: 25px;}
.nav-locales{ padding-bottom: 15px;}
li.delimiter:not(:last-child)::after { content: "|"; color: #000; padding: 0 10px;}
ul.menu-h li.delimiter{ margin-left: 0;}
#nav-main .nav-locales{ padding-top: 20px;}
article.main{ float: left; width: 75%; padding: 25px;}
article h1 { margin-bottom: 25px;}

article.list{ margin-top: 25px; }

@media screen and (max-width: 990px){
    #nav-main, article.main { width: 100%; }
}